<h2><%= action %> check digits for reference:</h2>
  <form method="POST" action="/<%= action.downcase %>">	
  <p><%= action %> check digit: <input type="text" name="ref" size="35"></p>
  <input type="submit" value="<%= action %>"></input>
</form>
