<h2>Input form</h2>
<form method="POST" action="/validate">	
	<p>Validate IBAN: <input type="text" name="iban"></p>
	<p>Validate against: <input type="text" name="digits"></p>
	<input type="submit">
</form>
